## Pandas Merge

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge0.png' width=800>

In [1]:
import numpy as np
import pandas as pd

names = pd.DataFrame({
                    "id": [1, 2, 3, 4, 10],
                    "name": ["Emily", "Jane", "Joe", "Matt", "Lucas"],
                    "age": np.random.randint(20, 30, size=5)
                     })

scores = pd.DataFrame({
                    "id": np.arange(1, 8),
                    "score": np.random.randint(80, 100, size=7),
                    "group": list("ABCAACA")
                    })

In [2]:
names

   id   name  age
0   1  Emily   28
1   2   Jane   26
2   3    Joe   22
3   4   Matt   29
4  10  Lucas   22

In [3]:
scores

   id  score group
0   1     90     A
1   2     87     B
2   3     95     C
3   4     85     A
4   5     85     A
5   6     97     C
6   7     89     A

## Esempio1 (inner)
<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge2.png' width=600>

In [4]:
merged_df = names.merge(scores, on="id")

## Esempio2
There are different merge types. The how parameter defines it from one of the following types:

left: use only keys from left DataFrame
right: use only keys from right DataFrame
outer: use union of keys from both DataFrames
inner: use intersection of keys from both DataFrames
cross: creates the cartesian product from both DataFrames
The default value of the how parameter is inner so in the previous example, the merged DataFrame contains an intersection of keys.

The keys are the values in the column(s) specified with the on parameter.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge3.png' width=600>

The merged DataFrame includes all the keys from the left DataFrame. The non-matching rows are filled with NaN , the standard missing value representation.

In [5]:
merged_df = names.merge(scores, on="id", how="left")

## Esempio3 - right merge
It is the opposite of the left merge but I would not recommend using the right merge as it can be achieved by changing the order of the DataFrames and using a left merge

In [6]:
# followings are the same
merged_df = names.merge(scores, on="id", how="left")
merged_df = scores.merge(names, on="id", how="right")

## Esempio4
<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge4.png' width=600>

The merged DataFrame includes all the keys from both DataFrames.

In [7]:
merged_df = names.merge(scores, on="id", how="outer")

## Esempio5 -Indicator parameter

The indicator parameter creates a column in the merged DataFrame that indicates where the key value in rows come from.

- both: key value exists in both DataFrames
- left_only: only left DataFrame
- right_only: only right DataFrame

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge5.png' width=600>

In [8]:
merged_df = names.merge(scores, on="id", how="outer", indicator=True)

## Esempio6 -Indicator parameter

The indicator parameter also takes string values as argument, which is used as the name of the column.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge6.png' width=600>

## Esempio7 -left_on and right_on parameters

If the column(s) used for merging DataFrames have different names, we can use the left_on and right_on parameters.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge7.png' width=600>

## Example 8— merge on multiple columns

In [9]:
products = pd.DataFrame({
                        "pg": ["A", "A", "A", "B", "B", "B"],
                        "id": [101, 102, 103, 101, 102, 104],
                        "price": np.random.randint(50, 80, size=6),
                        "cost": np.random.randint(40, 50, size=6),
                        "discount": [0.1, 0.1, 0, 0, 0.2, 0]
                        })

sales = pd.DataFrame({
                    "pg": ["A", "A", "A", "B", "B", "B"],
                    "id": [101, 102, 105, 101, 102, 106],
                    "sales_qty": np.random.randint(1, 10, size=6),
                    "discount": [0, 0.1, 0.1, 0.2, 0, 0]
                    })

In [10]:
products

  pg   id  price  cost  discount
0  A  101     60    41       0.1
1  A  102     70    47       0.1
2  A  103     72    43       0.0
3  B  101     65    45       0.0
4  B  102     60    40       0.2
5  B  104     76    49       0.0

In [11]:
sales

  pg   id  sales_qty  discount
0  A  101          5       0.0
1  A  102          2       0.1
2  A  105          5       0.1
3  B  101          5       0.2
4  B  102          6       0.0
5  B  106          5       0.0

To merge DataFrames on multiple columns, we write the column names as a Python list.

In [12]:
merged_df = products.merge(sales, on=["pg", "id"])

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge9.png' width=830>

## Esempio9 -suffix parameter

In the previous example, the merged DataFrame has the columns discount_x and discount_y . The x and y suffixes are added to separate the columns that exist in both DataFrames with the same name. The x is used for the left DataFrame and y for the right.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge9.png' width=800>

In [13]:
merged_df = products.merge(sales, on=["pg", "id"], suffixes=["_products", "_sales"])

## Esempio10 -multiple columns

Just like the on parameter, the right_on and left_on parameters take a list as argument in the case of having different column names.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge11.png' width=950>

In [14]:
# rename the id column
sales = sales.rename(columns={"id": "product_id"})

merged_df = products.merge(
                            sales, 
                            left_on=["pg", "id"], 
                            right_on=["pg", "product_id"],
                            how="left",
                            suffixes=["_products", "_sales"]
                            )

## Esempio11 -merge on index

We can also merge DataFrames on their index values. We will create two new DataFrames for this example.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge12.png' width=350>

As we see in the screenshot above, the DataFrames have different index values. One starts from 0 and the other one starts from 2.

To merge on index, we use the left_index and right_index parameters.

In [15]:
df1 = pd.DataFrame(
    np.random.randint(0, 10, size=(5, 4)),
    columns=list("ABCD")
)

df2 = pd.DataFrame(
    np.random.randint(0, 10, size=(5, 4)),
    columns=list("EFGH"),
    index=[2, 3, 4, 5, 6]
)

In [16]:
merged_df = df1.merge(df2, left_index=True, right_index=True)

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge13.png' width=550>

## Esempio12 -how parameter with merging on index

We can use the how parameter when merging on indices as well.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge14.png' width=550>

In [17]:
merged_df = df1.merge(df2, left_index=True, right_index=True, how="left")

## Example 13 — merging time-series data

Time-series data might include measurements taken at very short time periods (e.g. at the level of seconds). Therefore, when we merge two DataFrames consisting of time series data, we may encounter measurements off by a second or two.

For such cases, Pandas provide a “smart” way of merging via the merge_asof function.

Assume we are merging DataFrames A and B. If a row in the left DataFrame does not have a matching row in the right DataFrame, merge_asof allows for taking a row whose value is close to the value in the left DataFrame.

This is similar to a left-merge except that we match on the nearest key rather than equal keys. Both DataFrames must be sorted by the key.

For each row in the left DataFrame:
- A “backward” search selects the last row in the right DataFrame whose ‘on’ key is less than or equal to the left’s key.
- A “forward” search selects the first row in the right DataFrame whose ‘on’ key is greater than or equal to the left’s key.
- A “nearest” search selects the row in the right DataFrame whose ‘on’ key is closest in absolute distance to the left’s key.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge15.png' width=550>

Some values in the time column overlap whereas some others differ by seconds.

In [18]:
df1 = pd.DataFrame({
                    "time": pd.date_range(start="2022-12-09", periods=7, freq="2S"),
                    "left_value": np.round(np.random.random(7), 2)
                    })

df2 = pd.DataFrame({
                    "time": pd.date_range(start="2022-12-09", periods=6, freq="3S"),
                    "right_value": np.round(np.random.random(6), 2)
                    })

In [19]:
merged_df = pd.merge_asof(df1, df2, on="time")

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge16.png' width=850>

## Example 14 — direction parameter

In the previous example, the merge_asof function looked for the previous value for non-matching rows because the default value of the direction parameter is “backward”.

Let’s change it to “nearest” and see what happens.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge17.png' width=850>

The right value in the first row is 0.36 because the next value (00:00:03) is closer to the value in the left DataFrame (00:00:02) than the previous value (00:00:00).

In [20]:
merged_df = pd.merge_asof(df1, df2, on="time", direction="nearest")

## Example 15 - tolerance parameter
We can also set a tolerance to be used when checking the previous and next values.

In the following example, direction is forward so the next value is checked for non-matching rows. We also set a tolerance of 1 second so, in order to use the next value, it needs to be off by at most 1 second.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge18.png' width=850>

Take a look at the third and sixth rows in the merged DataFrame. The right value is NaN because the next value in the right DataFrame is off by 2 seconds for these rows.

left: 00:00:04, the next value in right: 00:00:06

left: 00:00:10, the next value in right: 00:00:12

In [21]:
merged_df = pd.merge_asof(
                        df1, 
                        df2, 
                        on="time", 
                        direction="forward", 
                        tolerance=pd.Timedelta("1s")
                        )

## Example 16 - allow_exact_matches parameter
We also have the option not to allow exact matches to be in the merged DataFrame. By default, the exact matches exist in the merged DataFrame but this can be changes using the allow_exact_matches parameter.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge19.png' width=850>

The time values in the first rows are the same but the merged DataFrame has a NaN value in the first row of the right value column because we set the value of the allow_exact_matches parameter as False.

In [22]:
merged_df = pd.merge_asof(df1, df2, on="time", allow_exact_matches=False)

## Example 17 - by parameter
The by parameter can be used for separating groups when merging data points with the previous or next value.

In [23]:
df1["group"] = ["AA"] * 4 + ["BB"] * 3

df2["group"] = ["AA"] * 3 + ["BB"] * 3

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge20.png' width=550>

Let’s say we want to use merge_asof but only within groups so the values in a particular group cannot be merged with any value in a different group. To do this, we can use the by parameter.

In [24]:
merged_df = pd.merge_asof(df1, df2, on="time", by="group")

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge21.png' width=750>

The right value in the first row for group BB is NaN . We’re merging based on “backward” direction and the previous value belongs to a different group.

## Example 18 - ordered merge

The merge_ordered function performs a merge for ordered data with optional filling/interpolation. It’s designed for ordered data such as time-series.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge22.png' width=750>

The rows are ordered by the time column. If one of the DataFrames does not have a particular time value, the columns coming from it are filled with NaN .

In [25]:
merged_df = pd.merge_ordered(df1, df2)

## Example 19 - fill_method parameter

When doing an ordered merge with merge_ordered , we can use the fill_method parameter to define an interpolation method.

The default value is NaN and the only other option we can use is “ffill”, which means forward fill.

In [26]:
merged_df = pd.merge_ordered(df1, df2, fill_method="ffill")

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge23.png' width=750>

Compare the output with the previous example and you will notice how NaN values are replaced with the previous value.

## Example 20 - left_by parameter

We can also do an ordered merge within each group separately. The left_by parameter groups left DataFrame by group columns and merge piece by piece with right DataFrame.

<img src='https://frenzy86.s3.eu-west-2.amazonaws.com/python/pandasmerge/merge24.png' width=750>

Compare the output with the previous example and you will notice how NaN values are replaced with the previous value.

In [29]:
merged_df = pd.merge_ordered(df1, df2, fill_method="ffill", left_by="group")
merged_df

                 time  left_value group  right_value
0 2022-12-09 00:00:00        0.69    AA         0.45
1 2022-12-09 00:00:02        0.72    AA         0.45
2 2022-12-09 00:00:03        0.72    AA         0.50
3 2022-12-09 00:00:04        0.11    AA         0.50
4 2022-12-09 00:00:06        0.20    AA         0.55
5 2022-12-09 00:00:08        0.87    BB          NaN
6 2022-12-09 00:00:09        0.87    BB         0.06
7 2022-12-09 00:00:10        0.04    BB         0.06
8 2022-12-09 00:00:12        0.61    BB         0.25
9 2022-12-09 00:00:15        0.61    BB         0.76